@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  /* color palette */
  --primary: #4C9FF3;
  --primary-lighter: #c2edff;
  --neutral: #1A1A1A;
  --disabled: #9d9d9d;

  /* font style */
  --heading: 1.5rem;
  --paragraph: 1rem;
  --caption: 0.75rem;
  --label: 1.10rem;
  --family: "Nunito", sans-serif;
}

* {
  font-family: var(--family);
}

html {
  scroll-behavior: smooth;
}

.heading {
  font-size: var(--heading);
  font-weight: 700;
}

.paragraph {
  font-size: var(--paragraph);
}

.caption {
  font-size: var(--caption);
}

.label {
  font-size: var(--label);
}